.scroll {
  background-color: var(--color-one) !important;
  transition: all 0.3s ease-in-out;
  bottom: 20px !important;
  right: 20px !important;
  animation: shake-vertical 7s ease-out infinite both;
}
.scroll:hover {
  background-color: var(--color-two) !important;
}
.up-icon {
  color: var(--color-white);
  font-size: 1.7rem;
}

@media (max-width: 500px) {
  .scroll {
    right: 0px !important;
    width: 30px !important;
    height: 30px !important;
  }
  .up-icon {
    font-size: 1.5rem;
  }
}
