.scroll {
  background-color: var(--color-one);
  transition: all 0.3s ease-in-out;
  bottom: 20px;
  right: 20px;
}
.scroll:hover {
  background-color: var(--color-two);
}
.up-icon {
  color: var(--color-white);
  font-size: 1.7rem;
}

@media (max-width: 500px) {
  .scroll {
    right: 0px;
    width: 30px;
    height: 30px;
  }
  .up-icon {
    font-size: 1.5rem;
  }
}
