.CardWinners {
  position: relative;
  width: 200px;

  /* overflow: hidden; */
}
.CardWinners::after {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  background: var(--gradient-box);
  top: -2.5rem;
  right: 1.5rem;
  z-index: -1;
  border-radius: var(--border-radius);
}
.CardWinners img {
  height: 200px;
  border-radius: var(--border-radius);
}
.CardWinners img:hover {
  transform: scale(1.03);
}
.CardWinners p {
  font-size: 1.2rem;
  font-weight: 700;
  position: absolute;
  top: -2.2rem;
  right: 18%;
  color: var(--color-white);
}
.CardWinners a {
  color: var(--color-white);
  font-size: 1.8rem;
  position: absolute;
  top: -2rem;
  left: -7%;
}
.CardWinners a:hover {
  color: var(--color-two-dark);
}

.CardWinners a,
.CardWinners img {
  transition: all 0.4s ease;
}
