.cube {
  width: 50%;
  height: 100%;
  /* top: 0; */
  padding-top: 6rem;
  margin-left: 0;
  /* position: absolute; */
  /* position: relative; */
  /* right: 0; */

  /* overflow: hidden; */
  /* background: red; */
}

.cube-spinner {
  animation-name: spincube;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 12s;
  transform-style: preserve-3d;
  /* transform-origin: 100px 100px 0; */
  /* margin-left: calc(50% - 100px); */
  margin: 0 2rem;
}

.cube-spinner div {
  position: absolute;
  width: 150px;
  height: 150px;
  border: 1px solid #ccc;
  /* background: rgba(255, 255, 255, 0.4); */
  background: var(--color-bg);
  text-align: center;
  font-size: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* box-shadow: 0 0 20px 0px lightyellow; */
  box-shadow: 0 0 20px 0px var(--color-bg);
}

.cube-spinner .face1 {
  transform: translateZ(75px);
  color: #0d7223;
}
.cube-spinner .face2 {
  transform: rotateY(90deg) translateZ(75px);
  color: #f06529;
}
.cube-spinner .face3 {
  transform: rotateY(90deg) rotateX(90deg) translateZ(75px);
  color: #28a4d9;
}
.cube-spinner .face4 {
  transform: rotateY(180deg) rotateZ(90deg) translateZ(75px);
  color: #5ed4f4;
}
.cube-spinner .face5 {
  transform: rotateY(-90deg) rotateZ(90deg) translateZ(75px);
  color: #efd81d;
}
.cube-spinner .face6 {
  transform: rotateX(-90deg) translateZ(75px);
  color: #ec4d28;
}

@keyframes spincube {
  from,
  to {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  16% {
    transform: rotateY(-90deg) rotateZ(90deg);
  }
  33% {
    transform: rotateY(-90deg) rotateX(90deg);
  }
  50% {
    transform: rotateY(-180deg) rotateZ(90deg);
  }
  66% {
    transform: rotateY(-270deg) rotateX(90deg);
  }
  83% {
    transform: rotateX(90deg);
  }
}
@media screen and (max-width: 800px) {
  .cube-spinner div {
    font-size: 50px;
    width: 100px;
    height: 100px;
  }

  .cube-spinner .face1 {
    transform: translateZ(50px);
    color: #0d7223;
  }
  .cube-spinner .face2 {
    transform: rotateY(90deg) translateZ(50px);
    color: #f06529;
  }
  .cube-spinner .face3 {
    transform: rotateY(90deg) rotateX(90deg) translateZ(50px);
    color: #28a4d9;
  }
  .cube-spinner .face4 {
    transform: rotateY(180deg) rotateZ(90deg) translateZ(50px);
    color: #5ed4f4;
  }
  .cube-spinner .face5 {
    transform: rotateY(-90deg) rotateZ(90deg) translateZ(50px);
    color: #efd81d;
  }
  .cube-spinner .face6 {
    transform: rotateX(-90deg) translateZ(50px);
    color: #ec4d28;
  }

  @keyframes spincube {
    from,
    to {
      transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    16% {
      transform: rotateY(-90deg) rotateZ(90deg);
    }
    33% {
      transform: rotateY(-90deg) rotateX(90deg);
    }
    50% {
      transform: rotateY(-180deg) rotateZ(90deg);
    }
    66% {
      transform: rotateY(-270deg) rotateX(90deg);
    }
    83% {
      transform: rotateX(90deg);
    }
  }
}
