.tasks-contents {
  display: flex;
  align-items: flex-start;
  margin-top: 4rem;
  /* gap: 3rem; */
}

.tasks-contents-content {
  padding: 2rem;
  border-radius: var(--border-radius);
  color: var(--color-one);
  position: relative;
  box-shadow: var(--box-shadow);
  background: var(--color-white);
  border-top: 5px solid var(--color-two);
  flex: 1.1;
}

/* .tasks-contents img {
  width: 40%;
  height: 100%;
} */
.tasks-contents-images {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tasks-contents-images-task {
  position: relative;
  width: 60%;
  /* height: 100%; */
}
.tasks-contents-images-logo {
  position: absolute;
  width: 30%;
  animation: shake-vertical 5s ease-in-out infinite both;
}
.tasks-contents-content h4 {
  color: var(--color-one);
  text-shadow: 1px 1px var(--color-two);
}
.tasks-contents-content p {
  color: var(--color-two);
}
.tasks-contents-content ol li {
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: 600;
  padding-right: 2px;
}
.tasks-contents-content ol li ul li {
  margin-bottom: 0rem;
  padding-right: 0px;
  margin-right: 20px;
}

.tasks-contents-content::before,
.tasks-contents-content::after {
  content: "";
  position: absolute;
  left: 0;
  height: 50%;
  width: 100%;
  border-radius: 25px;
  transition: transform 0.2s linear;
}

.tasks-contents-content:hover::before,
.tasks-contents-content:hover::after {
  transform: skewY(0);
}

.tasks-contents-content::before {
  transform: skewY(5deg);
  box-shadow: var(--box-shadow);
  background: var(--color-two);
  bottom: -20px;
  z-index: -1;
}

.tasks-contents-content::after {
  background: var(--color-two);
  transform: skewY(7deg);
  bottom: -35px;
  z-index: -2;
  box-shadow: var(--box-shadow);
}

.tasks-contents-content-buttons {
  margin-top: 1.2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

/* @media screen and (max-width: 1050px) {
  .tasks-contents img {
    width: 30%;
  }
} */
@media screen and (max-width: 950px) {
  .tasks-contents-images-task {
    width: 50%;
  }
  .tasks-contents {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2.5rem;
    margin-top: 0;
  }

  .tasks-contents-content ol li {
    /* margin-bottom: 0.2rem; */
    font-size: 1.1rem;
    font-weight: 600;
  }

  /* .tasks h1 {
    margin-bottom: 1.3rem;
  } */
}
