.subject {
  /* height: 100vh; */
  padding: 2rem 1rem;
}
.subject h1 {
  text-align: center;
  color: var(--color-two-dark);
  margin-bottom: 2rem;
}
.subject-container th {
  font-size: 1.5rem;
}
.subject-container td {
  font-weight: 700;
  font-size: 1em;
}

.subject-container {
  text-align: center;
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
  /* display: table; */
  /* padding: 0 0 8em 0; */
  border-radius: 1rem;
  border-collapse: collapse;
}

.subject-container td,
.subject-container th {
  padding: 0.8rem 0.5rem;
  /* padding-left: 2%; */
  /* margin: 1rem; */
}
td.subject-container-colspan {
  font-size: 1.2rem;
  color: var(--color-white);
  background: var(--color-two-dark);
  padding: 2px 0.3rem;
  /* border-radius: 10px; */
}

/* Background-color of the odd rows */
.subject-container tr:nth-child(odd) {
  background-color: var(--color-bg);
}

/* Background-color of the even rows */
.subject-container tr:nth-child(even) {
  /* background-color: var(--color-two-light); */
}

.subject-container th {
  background-color: var(--color-bg-2);
}

/* .subject-container td:first-child {
  color: #fb667a;
} */

.subject-container tr:hover {
  /* background-color: var(--color-bg); */
  -webkit-box-shadow: 0 6px 6px -6px #0e1119;
  -moz-box-shadow: 0 6px 6px -6px #0e1119;
  box-shadow: 0 6px 6px -6px #0e1119;
}
/* .subject-container td:hover {
  background: var(--color-two-dark);
  color: var(--color-white);
} */
.subject-container td:hover {
  background: var(--color-bg-2);
  color: var(--color-white);

  transition: 0.4s ease;
}

@media (max-width: 800px) {
  .subject {
    padding: 0;
  }
  .subject-container td:nth-child(3),
  .subject-container th:nth-child(3) {
    display: none;
  }
}
