.subject {
  padding: 2rem 1rem;
}

.subject-container th {
  font-size: 1rem;
}
.subject-container td {
  font-weight: 700;
  font-size: 1rem;
}

.subject-container {
  text-align: center;
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
  border-radius: 1rem;
  /* border-collapse: collapse; */
}

.subject-container td,
.subject-container th {
  padding: 0.5rem 0.5rem;
}

/* Background-color of the odd rows */
.subject-container tr:nth-child(odd) {
  background-color: var(--color-bg);
}

/* Background-color of the even rows */
.subject-container tr:nth-child(even) {
  /* background-color: var(--color-two-light); */
}

.subject-container th {
  background-color: var(--color-bg-2);
}

/* .subject-container td:first-child {
  color: #fb667a;
} */

.subject-container tr:hover {
  /* background-color: var(--color-bg); */
  -webkit-box-shadow: 0 6px 6px -6px #0e1119;
  -moz-box-shadow: 0 6px 6px -6px #0e1119;
  box-shadow: 0 6px 6px -6px #0e1119;
}
table,
th,
td {
  border: 2px solid var(--color-bg-2);
  /* border-style: outset; */

  /* border-collapse: collapse; */
}

.button-row {
  /* color: var(--color-white); */
  /* background: var(--color-white); */
  /* border: 1px dashed var(--color-two); */
}
.button-row td {
  border: 1.5px solid var(--color-two);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background: var(--color-white);
}
.button-row button {
  font-family: var(--font-family);
  font-size: 1.5rem;
  cursor: pointer;
  background: none;
  padding: 5px 1rem;
  border: none;
  color: var(--color-two);
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}
.button-row button:hover {
  /* letter-spacing: 1px; */
  transform: scale(1.1);
  /* color: var(--color-two-dark); */
}
@media (max-width: 800px) {
  .subject {
    padding: 0;
  }
  .subject-container td:nth-child(3),
  .subject-container th:nth-child(3) {
    display: none;
  }
  .button-row button {
    font-size: 1rem;
  }
}
@media (max-width: 500px) {
  .subject-container td:nth-child(4),
  .subject-container th:nth-child(4) {
    display: none;
  }
}
