.home {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 5rem 1rem;
  gap: 2rem;
}

.home-content {
  flex: 1;
  font-family: var(--font-family);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-content h1 {
  font-size: 2.7rem;
  text-align: center;
}

.home-content {
  max-width: 40rem;
}

.home-content p {
  text-align: center;
  margin: 1.5rem 0;
  font-size: 1rem;
  color: var(--color-one);
}

.home-img img {
  width: 100%;
  height: 70vh;
}

.home-content-buttons {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.home-content-icons {
  margin-top: 3rem;
}

@media screen and (max-width: 1100px) {
  .home-content h1 {
    font-size: 2rem;
  }

  .home-content-buttons {
    margin-top: 1rem;
  }

  .home {
    margin: 4rem 1rem;
  }
}

@media screen and (max-width: 970px) {
  .home-img img {
    height: 50vh;
  }

  .home-content-icons {
    margin-top: 2rem;
  }

  .home {
    margin: 5rem 2rem;
  }
}

@media screen and (max-width: 800px) {
  .home-content {
    max-width: 50rem;
  }

  .home-content h1 {
    font-size: 1.7rem;
  }

  .home-content-buttons {
    margin-top: 0.5rem;
  }

  .home {
    margin: 1rem;
    flex-direction: column-reverse;
    gap: 0;
  }

  .home-img img {
    height: 30vh;
  }

  .home-content p {
    margin: 0.5rem;
  }
}

@media screen and (max-width: 650px) {
  .home-content p {
    margin: 0.5rem;
  }

  .home-content-icons {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 500px) {
  .home {
    gap: 1rem;
  }

  .home-content h1 {
    font-size: 1.4rem;
  }

  .home-content p {
    font-size: 0.9rem;
    margin-bottom: 1rem;
  }
}
