/* ----------------------Roots-------------------------- */
@import url("https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&family=Manrope:wght@300;400;700;800&display=swap");

:root {
  --font-family: "El Messiri", "Manrope", sans-serif;

  --gradient-text: linear-gradient(89.97deg, #313291 1.84%, #67ba71 102.67%);

  --gradient-box: linear-gradient(
    320deg,
    rgba(49, 50, 145, 1) 0%,
    rgba(97, 173, 106, 1) 100%
  );

  --color-white: #fff;
  --color-one: #313291;
  --color-one-dark: #0f0f2c;
  --color-one-light: #c6c7eb;
  --color-two: #67ba71;
  --color-two-dark: #152517;
  --color-two-light: #a4d6aa;

  --color-bg: #f0f8f1;
  --color-bg-2: #b3ddb8;
  --color-bg-way: rgba(255, 255, 255, 0.801);
  --box-shadow: 0px 5px 7px -2px rgba(0, 0, 0, 0.35);
  --box-shadow-footer: 0px -5px 7px 0px rgba(0, 0, 0, 0.1);
  --border-radius: 1rem;
}

/* -----------------General------------------------------- */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  scroll-behavior: smooth;
  font-family: var(--font-family);
}

a {
  color: unset;
  text-decoration: none;
}

section {
  padding: 4rem;
  margin-bottom: 2rem;
  /* margin-bottom: 4rem; */
}

section h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

ol {
  list-style: arabic-indic;
}

h1,
.gradient-text {
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* ------------------ */
.btn-gradient,
.btn-green {
  text-align: center;
  font-size: 1.2rem;
  padding: 0.4rem 1rem;
  cursor: pointer;
  border-radius: 10px;
}

.btn-gradient {
  box-shadow: 0 4px 15px 0 var(--color-one-light);
  color: var(--color-white);
  background-size: 300% 100%;
  background-image: linear-gradient(
    to right,
    #313291,
    #40e495,
    #36c47f,
    #2bb673
  );
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-gradient:hover {
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-green {
  border: 2px solid var(--color-two);
  color: var(--color-two);
  transition: all 0.4s ease-in-out;
}

.btn-green:hover {
  box-shadow: var(--box-shadow);
  background: var(--color-two);
  color: var(--color-white);
}

.section-padding {
  padding: 4rem 6rem;
}

.section-margin {
  margin: 4rem 6rem;
}

.scale-up {
  -webkit-animation: scale-up-tl 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-tl 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

/**
/**
 * ----------------------------------------
 * animation scale-up-tl
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-tl {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
  }
}

@keyframes scale-up-tl {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
  }
}
@keyframes shake-vertical {
  0%,
  100% {
    transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70% {
    transform: translateY(-4px);
  }
  20%,
  40%,
  60% {
    transform: translateY(4px);
  }
  80% {
    transform: translateY(6.4px);
  }
  90% {
    transform: translateY(-6.4px);
  }
}

/* -----------------Scroll bar----------- */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-bg-2);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(
    320deg,
    rgba(49, 50, 145, 1) 0%,
    rgba(97, 173, 106, 1) 90%
  );
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-two);
}
/* -----------------Media Queries----------- */
@media screen and (max-width: 1050px) {
  /* .section-margin {
    margin: 4rem;
  }
   */
}

@media screen and (max-width: 800px) {
  .btn-gradient,
  .btn-green {
    font-size: 1rem;
  }
  section {
    padding: 1.5rem;
  }
  section h1 {
    font-size: 1.7rem;
  }
  /* .section-padding {
    padding: 4rem;
  }
  

  .section-margin {
    margin: 2rem;
  }
   */
}

@media screen and (max-width: 550px) {
  section {
    padding: 2rem;
  }
  /* .section-padding {
    padding: 4rem 2rem;
  }
  .section-margin {
    margin: 1rem;
  }*/
  section h1 {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 330px) {
  .btn-gradient,
  .btn-green {
    font-size: 1rem;
    padding: 0.2rem 0.4rem;
  }
}
